dist/*.js
server/obj/
server/bin/
/server/obj/server.csproj.nuget.cache
/server/obj/server.csproj.nuget.g.props
!dist/bundle.js
assets/fruits.afphoto
server/obj/Debug/netcoreapp2.0/server.csproj.CoreCompileInputs.cache
